@model HotelSys.ViewModel._AccountViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">

                        <h4 class="page-title">الحسابات</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">

                            <a asp-action="Index">رجوع</a>

                        </div>
                        <h4 class="page-title">حساب جديد </h4>
                    </div>
                    <!--end page-title-box-->
                </div>


                <div class="row">
                   
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label"> اسم الحساب</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                        <label class="control-label">التاريخ </label>
                        <input asp-for="Createat" class="form-control" />
                        <span asp-validation-for="Createat" class="text-danger"></span>
                    </div>*@
                            <div class="form-group">
                                <label class="control-label">مجموعة الحساب</label>
                                <select asp-for="IdGroup" class="form-control" asp-items="ViewBag.IdGroup"></select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">حالة الحساب</label>
                                <select asp-for="Status" class="form-control">
                                    <option value="active">active</option>
                                    <option value="disable">disable</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="اضافة " class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div><!--end row-->



        </div><!-- container -->
        <!--Start Rightbar-->
        <!--Start Rightbar/offcanvas-->
        <!--end Rightbar-->
        <!--Start Footer-->
        <!-- Footer Start -->
        <footer class="footer text-center text-sm-start">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> شركة اوراكس سوفت <span class="text-muted d-none d-sm-inline-block float-end">
                للانظمة
                وتقنية المعلومات
            </span>
        </footer>
        <!-- end Footer -->
        <!--end footer-->
    </div>


