<div class="table-responsive">

                   

                  
                        <table class="table table-striped" id="tableServicesGruop" data-mobile-responsive="true">
                            
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>

                                        <th>اسم المحافظة </th>
                                        <th>عدد المديريات </th>
                                        <th>الدولة  </th>
                                        <th></th>
                                     
                                    </tr>
                                </thead>
                            </table>
                        </div>