

<div class="modal fade" id="CompanySearchModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">بحث عن شركة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">




                <div class="row">
                    <h4 class="card-title mt-3 mb-1">ابحث عن شركة  </h4>




                  


                    <div class="row">

                        <div class="table-responsive">

                            <table id="tableCompany"
                                  
                                   data-mobile-responsive="true" class="mb-0 display table table-striped table-bordered"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-fullscreen="false"
                                   data-show-columns="true"
                                   data-show-export="false"
                                   data-click-to-select="true"
                                   data-minimum-count-columns="2"
                                   data-show-pagination-switch="true"
                                   data-pagination="true"
                                   data-id-field="idcumtomerAll"
                                   data-page-list="[10, 20, 50, 100, all]"
                                   data-show-footer="true"
                                   data-side-pagination="server"
                                   data-show-copy-rows="true">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-top-0">تحديد</th>
                                        <th class="border-top-0">رقم الشركة </th>

                                        <th class="border-top-0">اسم الشركة</th>

                                        <th class="border-top-0">رقم الحساب </th>
                                    </tr><!--end tr-->
                                </thead>

                            </table>



                        </div>

                    </div>


                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                
            </div>
        </div>
    </div>
</div>










