@*form id="addFolloweForm" name="addFollowerModal">*@


    <div class="modal fade" id="reportInvReceptionModal" tabindex="-1" aria-labelledby="reportInvReceptionModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >عقد الايجار</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <div class="card">
                                <div class="card-body invoice-head">
                                    <div class="row">
                                        <div class="col-md-8 align-self-center">
                                            <div class="media">
                                                <img src="~/img/lo3.jpg" alt="logo-small" class="logo-lg me-2" height="80">
                                                <div class="media-body align-self-center">
                                                    <h3 class="m-0 font-20">فندق وأجنحة اللؤلؤة السياحي</h3>
                                                    <p class="mt-2 mb-0 text-muted">
                                                        <i class="mdi mdi-map-marker"></i>
                                                        الرياض -جوار الحديقة العامة
                                                    </p>
                                                </div>
                                            </div>

                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <ul class="list-inline mb-0 contact-detail float-end">

                                                <li class="list-inline-item">
                                                    <div class="ps-3">
                                                        <i class="mdi mdi-phone"></i>
                                                        <span class="text-muted mb-0">+966 123456789</span>

                                                    </div>
                                                </li>


                                            </ul>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end card-body-->



                                
                                <div class="card-body">

                                    <div class="row row-cols-3 d-flex justify-content-md-between my-4">
                                        <div class="col-md-3 d-print-flex mb-3">
                                            <h6 class="mt-0"><b> التاريخ :</b> 16/9/2022 </h6>

                                        </div>


                                        <div class="col-md-3 d-print-flex mb-3">
                                            <h2 class="m-0">عقد ايجار</h2>

                                        </div><!--end col-->
                                        <div class="col-md-3 d-print-flex mb-3">
                                            <h6 class="m-0"><b>رقم العقد :</b> #1240</h6>

                                        </div> <!--end col-->
                                    </div>
                                    <p>العقد</p>
                                    <div class="row row-cols-2 d-flex justify-content-md-between my-4">
                                        <div class="col-md-5 d-print-flex mb-3">
                                            <div class="row">
                                                <h6 class="mt-0"><b>بداية العقد :</b> 16/9/2022 </h6>
                                            </div>
                                            <div class="row">
                                                <h6 class="mt-0"><b>نوع الايجار :</b> يومي</h6>
                                            </div>
                                                <h6 class="mt-0"><b>الايجار اليومي :</b> 10 ريال</h6>
                                                <h6 class="mt-0"><b>الإجمالي :</b> 10 ريال</h6>
                                                <h6 class="mt-0"><b>التكلفة النهائية :</b> 10 ريال</h6>
                                                <h6 class="mt-0"><b>كمبيالة :</b> 10 ريال</h6>
                                            </div><!--end col-->

                                        <div class="col-md-5 d-print-flex mb-3">
                                            <h6 class="mt-0"><b>نهاية العقد :</b> 17/9/2022 </h6>
                                            <h6 class="mt-0"><b>الشقة :</b>3 </h6>
                                            <h6 class="mt-0"><b>عدد الايام :</b>1 يوم </h6>
                                            <h6 class="mt-0"><b>الخصم :</b> 0 ريال</h6>
                                            <h6 class="mt-0"><b>المدفوع :</b> 0 ريال</h6>

                                        </div>
                                    </div>

                                    <div class="row row-cols-2 d-flex justify-content-md-between my-4">
                                        <div class="col-md-5 d-print-flex mb-3">
                                            <h6 class="mt-0"><b>اسم العميل :</b> حسام عارف عبدالله الصلوي </h6>
                                            <h6 class="mt-0"><b>نوع الاثبات :</b> جواز سفر</h6>
                                            <h6 class="m-0"><b>التاريخ  :</b> 16/9/2022</h6>
                                            <h6 class="mb-0"><b>جوال  :</b> 00000</h6>
                                        </div><!--end col-->
                                        <div class="col-md-5 d-print-flex mb-3">
                                            <h6 class="m-0"><b>الجنسية  :</b>السعودية</h6>
                                            <h6 class="mb-0"><b>رقم الاثبات :</b> 00000</h6>
                                            <h6 class="mb-0"><b>المصدر :</b> الاستقبال</h6>
                                            <h6 class="mb-0"><b>عدد المرافقين  :</b> 1</h6>
                                        </div><!--end col-->
                                       
                                    </div><!--end row-->

                                    <div class="row">
                                       
                                           
                                            <div class="col-lg-12">
                                                <h5 class="mt-4">الشروط :</h5>
                                                <ul class="ps-3">
                                                    <li><small class="font-12">........................................... </small></li>
                                                    <li><small class="font-12">.............................................</small></li>
                                                    <li><small class="font-12"> ........................................</small></li>
                                                    <li><small class="font-12"> ........................................</small></li>
                                                    <li><small class="font-12"> ........................................</small></li>
                                                    <li><small class="font-12"> ........................................</small></li>
                                                    <li><small class="font-12"> ........................................</small></li>
                                                </ul>
                                            </div> <!--end col-->


                                      
                                    </div><!--end row-->

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <small class="mt-4">توقيع المستأجر :</small>
                                            <p >
                                                <small class="font-12">........................................... </small>
                                            </p>
                                            </div> <!--end col-->
                                        <div class="col-lg-6 align-self-center">
                                            <div class="float-none float-md-end" style="width: 30%;">
                                                <small>توقيع المسئول</small>
                                                <img src="assets/images/signature.png" alt="" class="mt-2 mb-1" height="20">
                                                <p class="border-top">emp</p>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <hr>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                                            <div class="text-center"><small class="font-12">البريد الالكتروني :orax@info.com</small></div>
                                        </div><!--end col-->

                                    </div><!--end row-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                            </div><!--end col-->
                            </div><!--end row-->




                    <div class="modal-footer">
                        
                        <div class="col-lg-12 col-xl-4">
                            <div class="float-end d-print-none mt-2 mt-md-0">
                                <a href="javascript:window.print()" class="btn btn-de-info btn-lg">طباعة</a>
                                <button type="button" class="btn btn-de-danger btn-lg" data-bs-dismiss="modal">اغلاق</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

@*</form>*@