
    <div class="modal fade" id="addServicesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >اضافة صنف  للفاتورة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"> اضافة صنف فاتورة</h4>

                                </div><!--end card-header-->

                               
                                <div class="loading">Loading....</div>

                                <div class="col-md-4">
       



    </div>

                                <div class="card-body">

                                    <div>
                                        <h5>الفئة</h5>

                                        <div id="groupContact">
                                            @*<button type="button"
                                                    
                                                    class="btn btn-secondary mb-2 mr-1" data-method="getData" data-option="" data-target="#putData">
                                                <span class="docs-tooltip" data-bs-toggle="tooltip" data-animation="false" title="" data-bs-original-title="$().cropper(&quot;getData&quot;)">
                                                    المغسلة
                                                </span>
                                            </button>*@
                                        </div>

                                       

                                    </div>

                                    <div class="card-header">
                                        <h4 class="card-title">تفاصيل الخدمة</h4>

                                        <div class="table-responsive-sm">
                                            <table class="table mb-0" id="tableProduct">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">تحديد</th>
                                                        <th scope="col">#</th>
                                                        <th scope="col">اسم الخدمة</th>
                                                        <th scope="col">السعر</th>
                                                       @* <th scope="col">الكمية</th>*@
                                                        <th scope="col">الضريبة</th>
                                                        <th scope="col">ضريبة بلدي</th>
                                                       @* <th scope="col">الاجمالي</th>*@
                                                    </tr>
                                                </thead>
                                                @*<tbody>
                                                    <tr class="table-primary">
                                                        <th scope="row">1</th>
                                                        <td class="">كواية</td>
                                                        <td class="">50</td>
                                                        <td class="">1</td>
                                                        <td class="">50</td>
                                                    </tr>
                                                    <tr class="">
                                                        <th scope="row">2</th>
                                                        <td>تنظيف ملابس</td>
                                                        <td>100</td>
                                                        <td>1</td>
                                                        <td>100</td>
                                                    </tr>
                                                    <tr class="table-secondary">
                                                        <th scope="row">3</th>
                                                        <td class="">توصيل طعام</td>
                                                        <td class="">40</td>
                                                        <td class="">1</td>
                                                        <td class="">40</td>
                                                    </tr>

                                                    <tr class="">
                                                        <th scope="row">4</th>
                                                        <td>ماء عامرية</td>
                                                        <td>100</td>
                                                        <td>1</td>
                                                        <td>100</td>
                                                    </tr>

                                                    <tr class="table-success">
                                                        <th scope="row">5</th>
                                                        <td>بوفية</td>
                                                        <td>200</td>
                                                        <td>1</td>
                                                        <td>200</td>
                                                    </tr>*@


                                            
                                                    
                                                    </table>
                                        </div>
                                    </div>



                                    <div class="row">
                                      
                                       



                                        </div>
                                    </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div>


 

                    <div class="modal-footer">
                       
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                    </div>
                </div>

            </div>
        </div>


    </div>

@*</form>*@