@*form id="addFolloweForm" name="addFollowerModal">*@


    <div class="modal fade" id="ItemBillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >اصناف الفاتورة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">



                    <div class="card-body">
                        <div class="row" id="txtItem">

                          


                

                  </div>
                              



                        </div>
                    <div class="modal-footer">
                       
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                    </div>
                </div>

            </div>
        </div>


    </div>

@*</form>*@