


                <div class="table-responsive">
                    <table class="table" id="tableServicesGruop">
                        <thead class="thead-light">
                            <tr>
                                <th> ACTION </th>
                               
                                <th>رقم السند </th>
                                <th> رقم المرجع  </th>
                                  <th> رقم العقد  </th>
                                  <th> الحساب  </th>
                                   <th>الاجمالي  </th>
                                    <th>البيان  </th>

                                <th> التاريخ  </th>
                                 <th> طريقة الدفع</th>
                               @* <th> محملة على غرفة؟ </th>*@
                                @*<th> الصندوق</th>*@
                                 <th> عدد الاصناف</th> 
                              

                                

                            </tr><!--end tr-->
                        </thead>


                    </table>


                </div>
