@model HotelSys.Models.BillsTable

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BillsTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypePay" class="control-label"></label>
                <input asp-for="TypePay" class="form-control" />
                <span asp-validation-for="TypePay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumReference" class="control-label"></label>
                <input asp-for="NumReference" class="form-control" />
                <span asp-validation-for="NumReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsForRoom" /> @Html.DisplayNameFor(model => model.IsForRoom)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NumCheck" class="control-label"></label>
                <input asp-for="NumCheck" class="form-control" />
                <span asp-validation-for="NumCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumCard" class="control-label"></label>
                <input asp-for="NumCard" class="form-control" />
                <span asp-validation-for="NumCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createat" class="control-label"></label>
                <input asp-for="Createat" class="form-control" />
                <span asp-validation-for="Createat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAccount" class="control-label"></label>
                <select asp-for="IdAccount" class ="form-control" asp-items="ViewBag.IdAccount"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdReception" class="control-label"></label>
                <select asp-for="IdReception" class ="form-control" asp-items="ViewBag.IdReception"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBank" class="control-label"></label>
                <input asp-for="IdBank" class="form-control" />
                <span asp-validation-for="IdBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCurrancy" class="control-label"></label>
                <input asp-for="IdCurrancy" class="form-control" />
                <span asp-validation-for="IdCurrancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncludeTax" class="control-label"></label>
                <input asp-for="IncludeTax" class="form-control" />
                <span asp-validation-for="IncludeTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBaladiTaxPrice" class="control-label"></label>
                <input asp-for="TotalBaladiTaxPrice" class="form-control" />
                <span asp-validation-for="TotalBaladiTaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBaladiTaxRate" class="control-label"></label>
                <input asp-for="TotalBaladiTaxRate" class="form-control" />
                <span asp-validation-for="TotalBaladiTaxRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsBaladiTax" class="control-label"></label>
                <input asp-for="IsBaladiTax" class="form-control" />
                <span asp-validation-for="IsBaladiTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
