<div class="table-responsive">

                   

                  
                        <table class="table table-striped" id="tableServicesGruop" data-mobile-responsive="true">
                            
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        
                                         <th> المديرية </th>
                                         <th> عدد النزلاء</th>
                                        <th> المحافظة </th>
                                        <th>الدولة  </th>
                                        <th></th>
                                     
                                     
                                    </tr>
                                </thead>
                            </table>
                        </div>