@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="page-wrapper">

<!-- Page Content-->
<div class="page-content-tab">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">كلمة السر </a></li>

                            <li class="breadcrumb-item active">اعادة تعيين </li>
                        </ol>
                    </div>
                    <h4 class="page-title">نسيت كلمة السر الخاصة بي</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>

           <h6>ادخل البريد الالكتروني.</h6>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>




    </div>
    </div>
    </div>


   @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
