<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom" id="navbar-custom">
        <ul class="list-unstyled topbar-nav float-end mb-0">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle arrow-none nav-icon"
                   data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="~/assets/images/flags/ar_sa.png" alt="" class="thumb-xxs rounded-circle">
                </a>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="#"><img src="~/assets/images/flags/ar_sa.png" alt="" height="15" class="me-2">العربية</a>
                    <a class="dropdown-item" href="#"><img src="~/assets/images/flags/us_flag.jpg" alt="" height="15" class="me-2">English</a>
                </div>
            </li><!--end topbar-language-->

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="ti ti-user"></i>
                </a>

            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none nav-icon"
                   data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="ti ti-bell"></i>
                    <span class="alert-badge"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">

                    <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                        الاشعارات <span class="badge bg-soft-primary badge-pill">2</span>
                    </h6>
                    <div class="notification-menu" data-simplebar>
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-end text-muted ps-2">... min ago</small>
                            <div class="media">
                                <div class="avatar-md bg-soft-primary">
                                    <i class="ti ti-chart-arcs"></i>
                                </div>
                                <div class="media-body align-self-center ms-2 text-truncate">
                                    <h6 class="my-0 fw-normal text-dark">,,,,,,</h6>
                                    <small class="text-muted mb-0">..........................</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                        <!-- item-->
                        <a href="#" class="dropdown-item py-3">
                            <small class="float-end text-muted ps-2">.... min ago</small>
                            <div class="media">
                                <div class="avatar-md bg-soft-primary">
                                    <i class="ti ti-device-computer-camera"></i>
                                </div>
                                <div class="media-body align-self-center ms-2 text-truncate">
                                    <h6 class="my-0 fw-normal text-dark">,,,,,</h6>
                                    <small class="text-muted mb-0">............</small>
                                </div><!--end media-body-->
                            </div><!--end media-->
                        </a><!--end-item-->
                        <!-- item-->
                        <!-- item-->


                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                        عرض الكل <i class="fi-arrow-right"></i>
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <partial name="_LoginPartial.cshtml" />
            </li>

            <li class="notification-list">
                <a class="nav-link arrow-none nav-icon offcanvas-btn" href="#"
                   data-bs-toggle="offcanvas"
                   data-bs-target="#Appearance" role="button" aria-controls="Rightbar">
                    <i class="ti ti-settings "></i>
                </a>
            </li>



        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                    <i class="ti ti-menu-2"></i>
                </button>
            </li>


        </ul>
    </nav>
    <!-- end navbar-->
</div>