@*

    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">المالية</a></li>
                                    <li class="breadcrumb-item"><a href="#">العملاء  </a></li>
                                </ol>
                            </div>
                            <h4 class="page-title">العملاء </h4>
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>
               
                        <div class="row">
                            <h4 class="card-title mt-3 mb-1">بيانات العميل  </h4>



                            <div class="row">

                                <label for="company" class="col-lg-3 col-form-label text-end">الاسم الرباعي</label>
                                <div class="col-sm-2">
                                    <input id="txtCompanyShipping" name="price" type="text" class="form-control-sm small" placeholder="الاول">
                                </div>
                                <div class="col-sm-2">
                                    <input id="txtCompanyShipping" name="price" type="text" class="form-control-sm small" placeholder=" الاب">
                                </div>
                                <div class="col-sm-2">
                                    <input id="txtCompanyShipping" name="price" type="text" class="form-control-sm small" placeholder="الجد">
                                </div>
                                <div class="col-sm-2">
                                    <input id="txtCompanyShipping" name="price" type="text" class="form-control-sm " placeholder="اللقب">
                                </div>



                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="typeCustomer" class="col-lg-3 col-form-label-sm text-end">نوع العميل</label>
                                        <div class="col-lg-9">
                                            <select class="form-select-sm" aria-label="typeCustomer">
                                                <option selected="">اختر  </option>
                                                <option value="1">مقيم</option>
                                                <option value="2">زائر</option>

                                            </select>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="country" class="col-lg-3 col-form-label-sm text-end lbl-for">الجنسية</label>
                                        <div class="col-lg-9">
                                            <select class="form-select-sm" aria-label="country">
                                                <option selected="">اختر  </option>
                                                <option value="1">السعودية</option>
                                                <option value="2">اليمن</option>
                                                <option value="2">بقية دول العالم</option>

                                            </select>
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <h4 class="card-title mt-3 mb-1">بيانات الاثبات  </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="typeE" class="col-lg-3 col-form-label-sm text-end">نوع الاثبات</label>
                                        <div class="col-lg-9">
                                            <select class="form-select-sm" aria-label="typeCustomer">
                                                <option selected="">اختر  </option>
                                                <option value="1">بطاقة شخصية</option>
                                                <option value="2">جواز سفر</option>
                                                <option value="3">...</option>

                                            </select>
                                        </div>
                                    </div><!--end form-group-->
                                </div><!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end">رقم الاقامة</label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control-sm">
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end">رقم الهوية</label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control-sm">
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end">تاريخ الاصدار</label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end">تاريخ الانتهاء</label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <h4 class="card-title mt-3 mb-1"> التواصل  </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end"> رقم الهاتف </label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end"> هاتف العمل </label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div> <!--end row--->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end"> مكان العمل: </label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div><!--end form-group-->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end"> البريد الالكتروني</label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div> <!--end row--->

                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group row mb-2">
                                        <label for="numberE" class="col-lg-3 col-form-label-sm text-end">العنوان :</label>
                                        <div class="col-lg-9">
                                            <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                        </div>
                                    </div><!--end form-group-->
                                </div>


                            </div> <!--end row--->
                        </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group row mb-2">
                                    <label for="numberE" class="col-lg-3 col-form-label text-end"> ملاحظات </label>
                                    <div class="col-lg-9">
                                        <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                    </div>
                                </div><!--end form-group-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group row mb-2">
                                    <label for="numberE" class="col-lg-3 col-form-label text-end">ملاحظات خاصة: </label>
                                    <div class="col-lg-9">
                                        <input id="txtCompanyShipping" name="numberE" type="text" class="form-control">
                                    </div>
                                </div><!--end form-group-->
                            </div>
                        </div>

                    </div>
            </div>
</div>*@