



    <div class="row">


        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <input type="hidden" id="IdD" name="Id" />

        <center><div id="result" class="alert alert-danger">هل انت متأكد من حذف الخدمة</div></center>

        <div class="form-group row mb-2">
            <label class="col-lg-3 col-form-label-sm text-end">اسم الخدمة: </label>
            <div class="col-lg-9">
                <input class="form-control" id="NameD" name="NameD" readonly />


            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="col-lg-3 col-form-label-sm text-end">الاسم الانجليزي </label>
            <div class="col-lg-9">

                <input class="form-control" id="NameEnD" name="NameEnD"  readonly/>
            </div>
        </div>



    </div>
